.info {
  font-size: 40px;
  line-height: 1.2;
  color: var(--secondaryTextColor);
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  animation: title 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes title {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes title {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  margin-bottom: 40px;
}

.flex {
  flex: 1 1 0%;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
