.footer {
  padding: 20px 0;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid;
  border-color: rgb(180, 180, 180);
  /* background-color:#E6E6E6; */
   
}

.wrapper {
  display: flex;
  align-items: center;
  color: var(--secondaryTextColor);
}

.heart {
  margin: 0 15px;
}
